*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    width: 100%;
    padding: 20px 0;
    .container{
        width: 80%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .logo{
            width: 20%;
            img{
                width: 70%;
            }
        }
        nav{
            width: 40%;
            ul{
                list-style: none;
                display:flex ;
                justify-content: space-between;
                li{
                    a{
                        text-decoration: none;
                        font-size: 18px;
                        font-family: $roboto;
                    }
                }
            }
        }
        .icons{
            width: 20%;
            display: flex;
           justify-content: end;
           align-items: center;
            gap: 20px;
            i{
                font-size: 16px;
            }
            button{
                width: 50%;
                padding: 10px 0;
                background-color: white;
                border: 1px solid grey;
                border-radius: 20px;
                cursor: pointer;
                &:hover{
                    border: 1px solid blue;
                }
            }
        }
    }
}